.lead__image {
    background-size: cover;
    background-position: center;
    margin: 64px 0 0;
    background-image: url("/images/lead-polka.jpg");
    background-repeat: no-repeat;
    width: 984px;
    height: 615px;
    position: relative;
    box-sizing: border-box;
  }
 
  @media screen and (max-width: 1023px){
    .lead__image{
      width: 100vw;
      height: 62.5vw;
    }
  }
  @media screen and (max-width: 767px){
    .lead__image{
      margin: 34px 0 0;
    }
  }