.place__url-heading {
    max-width: 456px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    color: #AAAAAA;
    margin: 106px 28px 0 0;
    opacity: 0.3;
  }
  .place__url-heading:hover{
    opacity: 0.8;
  }
  @media screen and (max-width: 1023px){
    .place__url-heading {
      margin: 0;
      
    }
  }
  @media screen and (max-width: 767px){
    .place__url-heading {
      width: 388px;
      margin: 32px auto 0;
    }
  }
  @media screen and (max-width: 424px){
    .place__url-heading {
      max-width: 288px;
      margin: 32px auto 0;
    }
  }